body {
font-size: medium;
margin: 0px;
}

/* HEADER */

.header {
width: 100%;
height: 710px;
display: grid;
position: relative;
align-content: center;
justify-content: center;
background-image: url(images/background.jpg);
}

#view {
color: #ffffff;
border-style: solid;
border-thickness: 1px #ffffff;
font-size: 22px;
padding: 12px;
text-decoration: none;
}

#view:hover {
color: #2dc0c1;
}

#name {
color: #c6264b;
}

.center {
text-align: center;
}

.top {
color: #ffffff;
line-height: 15px;
}

/* NAV BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #262a34;
position: -webkit-sticky; 
  position: sticky;
  top: 0;

border-style: solid;
border-top-style: none;
border-right-style: none;
border-left-style: none;
border-color: #2bc0c0;

}

li {
float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #c6264b;
}

/* ABOUT */

header {
width: 100%;
margin-bottom: 0px;
padding-bottom: 0px;
}

h2 {
width: 100%;
float: left;
}

#aboutH2 {
font-size: 220%;
padding-left: 20px;
}

#description {
width: 70%;
float: left
clear: left;
font-size: 125%;
padding-left: 20px;
color: #252934;
font-weight: thin;
}

#abtHeader {
text-align: center;
line-height: 3px;
padding: 30px;
font-weight: thin;
}

.logo {
width: 40px;
float: left;
padding: 5px;
}

section {
width: 100%;
display: flex;
flex-direction: row;
-webkit-flex-direction: row;
align-items: center;
}

@media (max-width: 1000px) {
  section {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
}

.dave {
flex: 4;
margin-left: 80px;
}


.aboutMe {
margin-right: 20px;
padding-right: 15px;
flex: 4;
}

/* PROJECTS */

#transition {
width: 100%;
float: left;
}

.projects {
background-color: #252934;
width: 100%;
float: left;
padding: 0px;
margin: 0px;
clear: left;
}

h2 a {
text-decoration: none;
color: #fff;
}

h2 a:hover {
color: #2bc0c0;
}

#projectsHeader {
text-align: center;
line-height: 3px;
padding: 40px;
color: #ffffff;
clear: left;
}

#space {
padding: 20px;
background-color: #252934;
clear: left;
margin: 0px;
}

.container {
display: grid;
column-gap: 40px;
-webkit-column-gap: 40px;
row-gap: 80px;
width: 100%;
float: left;
align-content: center;
justify-content: center;
background-color: #252934;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto;
-webkit-grid-template-columns: auto auto auto;
-webkit-grid-template-rows: auto auto;
}

@media (max-width: 800px) {
.container {
grid-template-columns: auto auto;
grid-template-rows: auto auto auto;
-webkit-grid-template-columns: auto auto;
-webkit-grid-template-rows: auto auto auto;
column-gap: 20px;
-webkit-column-gap: 20px;
}
}

@media (max-width: 500px) {
.container {
grid-template-columns: auto;
grid-template-rows: auto auto auto auto auto auto;
-webkit-grid-template-columns: auto;
-webkit-grid-template-rows: auto auto auto auto auto auto;
}
}

.tablet {
background-color: #252934;
box-shadow: 0 0 6px #000;
border-top-style: solid;
border-color: #ffffff;
width: 250px;
height: 250px;
}

.tablet.htmlcss {
border-top-style: solid;
border-color: #c6264b;
}

.tablet.cplusplus {
border-top-style: solid;
border-color: #2bc0c0;
}

.tablet.photoshop {
border-top-style: solid;
border-color: #cd9b44;
}

.html {
color: #c6264b;
padding-left: 15px;
padding-right: 15px;
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
font-size: 90%;
}

.cplustwice {
color: #2bc0c0;
padding-left: 15px;
padding-right: 15px;
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
font-size: 90%;
}

.photochops {
color: #cd9b44;
padding-left: 15px;
padding-right: 15px;
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
font-size: 90%;
}

.projDescription {
color: #8c8c8c;
padding-left: 15px;
padding-right: 15px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;
}

#headshot {
max-width: 100%;
max-height: 100%;
display: block;
}

.title {
width: 100%;
float: left;
color: #ffffff;
padding-left: 15px;
padding-right: 15px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 10px;
}

	
/* FOOTER */

#space2 {
padding: 20px;
background-color: #252934;
clear: left;
margin: 0px;
}


footer {
  border-top-style: solid;
  border-color: #2bc0c0;
  background-image: url(images/background.jpg);
  color:            #fff;
  text-align:       center;
  font-size:        100%;
}